@page "/scoresheet"
@using VolleyballTools.Model;
@inject IJSRuntime JS
@inject PDF.PDF PDF

<style>
    h3 {
        font-weight: 700;
    }

    .form-label {
        margin-bottom: .2rem;
        font-weight: 600 !important;
    }

    .form-support {
        margin-bottom: .2rem;
        color: #626264;
    }
</style>

<h3>6人制 スコアシートを作成する</h3>
<p class="form-support">印刷後に記入する箇所は空欄にしてください</p>

<div class="mb-3 mt-3">
    <label class="form-label fw-bold">試合名</label>
    <input type="text" @bind="match.MatchName" class="form-control" id="exampleFormControlInput1">
</div>

<div class="mb-3">
    <p class="form-label fw-bold">開催地</p>
    <input type="text" @bind="match.Venue" class="form-control" id="exampleFormControlInput1">
</div>

<div class="mb-3">
    <p class="form-label">会場名</p>
    <input type="text" @bind="match.Hall" class="form-control" id="exampleFormControlInput1">
</div>

<div class="mb-3">
    <p class="form-label">開催日</p>
    <input type="date" @bind="match.DateTime" class="form-control" id="exampleFormControlInput1">
</div>

<div class="mb-3">
    <p class="form-label">試合設定時間</p>
    <input type="time" @bind="match.MatchTime" class="form-control" id="exampleFormControlInput1">
</div>

<div class="mb-3">
    <p class="form-label">試合番号</p>
    <input type="text" @bind="match.MatchNumber" class="form-control" id="exampleFormControlInput1">
</div>

<div class="mb-3">
    <p class="form-label">Aチーム名</p>
    <input type="text" @bind="match.ATeamName" class="form-control" id="exampleFormControlInput1">
</div>

<div class="mb-3">
    <p class="form-label">Bチーム名</p>
    <input type="text" @bind="match.BTeamName" class="form-control" id="exampleFormControlInput1">
</div>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">性別</label>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="GenderRadio" @onclick="@(()=>match.Sex=Sex.Men)" id="SexRadio1">
        <label class="form-check-label" for="SexRadio1">
            男子
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="GenderRadio" @onclick="@(()=>match.Sex=Sex.Women)" id="SexRadio2">
        <label class="form-check-label" for="SexRadio2">
            女子
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="GenderRadio" @onclick="@(()=>match.Sex=null)" id="SexRadio3" checked>
        <label class="form-check-label" for="SexRadio3">
            未選択
        </label>
    </div>
</div>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">セット数</label>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="SetRadio" id="SetRadio1" @onclick="@(()=>SET = 3)" checked>
        <label class="form-check-label" for="SetRadio1">
            3セット
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="SetRadio" id="SetRadio2" @onclick="@(()=>SET = 5)">
        <label class="form-check-label" for="SetRadio2">
            5セット
        </label>
    </div>
</div>

<button class="btn btn-primary mb-3 px-5" @onclick="Create">スコアシートを生成</button>
<button class="btn btn-primary mb-3 px-5" @onclick="LiberoControlSheet">リベロコントロールシートを生成</button>

@code {
    public Match match = new();
    public int SET { get; set; } = 3;

    private async void Create()
    {
        Stream fileStream;
        if (SET == 3)
        {
            fileStream = PDF.Generate3SET(match);
        }
        else
        {
            fileStream = PDF.Generate5SET(match);
        }

        await DownloadFileFromStream(fileStream, "Scoresheet.pdf");
    }
    private async void LiberoControlSheet()
    {
        Stream fileStream;
        if (SET == 3)
        {
            fileStream = PDF.GanerateLibero3SET(match);
        }
        else
        {
            fileStream = PDF.GanerateLibero3SET(match);
            //fileStream = PDF.GanerateLibero5SET(match.MatchName, match.Venue, match.Hall, match.DateTime, match.MatchNumber, match.ATeam, match.BTeam, match.isMen, match.MatchTime);
        }
        await DownloadFileFromStream(fileStream,"LiberoControlSheet.pdf");
    }

    private async Task DownloadFileFromStream(Stream fileStream,string fileName)
    {
        if (match.MatchName is not null)
        {
            fileName = $"{match.MatchName}-{fileName}";
        }

        using var streamRef = new DotNetStreamReference(stream: fileStream);

        await JS.InvokeVoidAsync("downloadFileFromStream", fileName, streamRef);

        streamRef.Dispose();
    }
}
