@page "/scoresheet9"
@inject IJSRuntime JS
@inject PDF.PDF PDF

<style>
    h3 {
        font-weight: 700;
    }

    .form-label {
        margin-bottom: .2rem;
        font-weight: 600 !important;
    }

    .form-support {
        margin-bottom: .2rem;
        color: #626264;
    }
</style>

<h3>9人制 スコアシート(単)を作成する</h3>
<p class="form-support">印刷後に記入する箇所は空欄にしてください</p>

<div class="mb-3 mt-3">
    <label class="form-label fw-bold">試合名</label>
    <input type="text" @bind="competition.MatchName" class="form-control" id="exampleFormControlInput1">
</div>

<div class="mb-3">
    <p class="form-label fw-bold">開催地</p>
    <input type="text" @bind="competition.Venue" class="form-control" id="exampleFormControlInput1">
</div>

<div class="mb-3">
    <p class="form-label">会場名</p>
    <input type="text" @bind="competition.Hall" class="form-control" id="exampleFormControlInput1">
</div>

<div class="mb-3">
    <p class="form-label">開催日</p>
    <input type="date" @bind="competition.DateTime" class="form-control" id="exampleFormControlInput1">
</div>

<div class="mb-3">
    <p class="form-label">試合設定時間</p>
    <input type="time" @bind="competition.MatchTime" class="form-control" id="exampleFormControlInput1">
</div>

<div class="mb-3">
    <p class="form-label">試合番号</p>
    <input type="text" @bind="match.MatchNumber" class="form-control" id="exampleFormControlInput1">
</div>


<div class="card mb-3">
    <div class="mb-3 card-body">
        <p class="form-label">Aチーム名</p>
        <input type="text" @bind="match.ATeam" class="form-control mb-3">

        <div class="row me-1">
            <div class="col-md-2 col-3">
                <p class="form-label" hidden="@(ATeamPlayers.Count()<=0)">番号</p>
            </div>

            <div class="col-md-9 col-7">
                <p class="form-label" hidden="@(ATeamPlayers.Count()<=0)">名前</p>
            </div>

            @foreach (var player in ATeamPlayers)
            {
                <div class="mb-1 col-md-2 col-3">
                    <input type="number" @bind="player.Number" class="form-control">
                </div>

                <div class="mb-1 col-lg-9 col-md-8 col-7">
                    <input type="text" @bind="player.Name" class="form-control">
                </div>
                <button class="mb-1 col-lg-1 col-md-2 col-2 btn btn-danger " @onclick="@(()=>PlayerDeleteAt(player,true))">
                    削除
                </button>
            }
        </div>

        <button class="btn btn-primary mt-1" type="button" @onclick="@(()=>PlayerAdd(true))" disabled="@(ATeamPlayers.Count>=15)">
            選手を追加
        </button>
    </div>
</div>

<div class="card mb-3">
    <div class="mb-3 card-body">
        <p class="form-label">Bチーム名</p>
        <input type="text" @bind="match.BTeam" class="form-control mb-3">

        <div class="row me-1">
            <div class="col-md-2 col-3">
                <p class="form-label" hidden="@(BTeamPlayers.Count()<=0)">番号</p>
            </div>

            <div class="col-md-9 col-7">
                <p class="form-label" hidden="@(BTeamPlayers.Count()<=0)">名前</p>
            </div>

            @foreach (var player in BTeamPlayers)
            {
                <div class="mb-1 col-md-2 col-3">
                    <input type="number" @bind="player.Number" class="form-control">
                </div>

                <div class="mb-1 col-lg-9 col-md-8 col-7">
                    <input type="text" @bind="player.Name" class="form-control">
                </div>
                <button class="mb-1 col-lg-1 col-md-2 col-2 btn btn-danger " @onclick="@(()=>PlayerDeleteAt(player,false))">
                    削除
                </button>
            }
        </div>

        <button class="btn btn-primary mt-1" type="button" @onclick="@(()=>PlayerAdd(false))" disabled="@(BTeamPlayers.Count>=15)">
            選手を追加
        </button>
    </div>
</div>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">性別</label>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="GenderRadio" @onclick="@(()=>SelectGender(true))" id="SexRadio1">
        <label class="form-check-label" for="SexRadio1">
            男子
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="GenderRadio" @onclick="@(()=>SelectGender(false))" id="SexRadio2">
        <label class="form-check-label" for="SexRadio2">
            女子
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="GenderRadio" @onclick="@(()=>SelectGender(null))" id="SexRadio3" checked>
        <label class="form-check-label" for="SexRadio3">
            未選択
        </label>
    </div>
</div>

<button class="btn btn-primary mb-3 px-5" @onclick="IncrementCount">生成</button>

@code {
    private void PlayerDeleteAt(Player player, bool isAteam)
    {
        if (isAteam)
        {
            ATeamPlayers.Remove(player);
        }
        else
        {
            BTeamPlayers.Remove(player);
        }
    }
    private void PlayerAdd(bool isAteam)
    {
        if (isAteam)
        {
            ATeamPlayers.Add(new());
        }
        else
        {
            BTeamPlayers.Add(new());
        }
    }
    private void SelectGender(bool? b)
    {
        match.isMen = b;
    }
    public Competition competition = new();
    public Match match = new();
    public int SET { get; set; } = 3;
    public List<Player> ATeamPlayers { get; set; } = new();
    public List<Player> BTeamPlayers { get; set; } = new();
    public class Competition
    {
        public string? MatchName { get; set; } = null;
        public string? Venue { get; set; } = null;
        public string? Hall { get; set; } = null;
        public DateTime? DateTime { get; set; } = null;
        public DateTime? MatchTime { get; set; } = null;
    }
    public class Match : Competition
    {
        public bool? isMen { get; set; } = null;
        public string? ATeam { get; set; } = null;
        public string? BTeam { get; set; } = null;
        public string? MatchNumber { get; set; } = null;
    }

    private async void IncrementCount()
    {
        var fileStream = PDF.Generate9Parson(competition.MatchName, competition.Venue, competition.Hall, competition.DateTime, match.MatchNumber, match.ATeam, match.BTeam, match.isMen, competition.MatchTime, ATeamPlayers,BTeamPlayers);
        await DownloadFileFromStream(fileStream);
    }

    private async Task DownloadFileFromStream(Stream fileStream)
    {
        var fileName = $"Scoresheet.pdf";
        if (competition.MatchName is not null)
        {
            fileName = $"{competition.MatchName}-{fileName}";
        }

        using var streamRef = new DotNetStreamReference(stream: fileStream);

        await JS.InvokeVoidAsync("downloadFileFromStream", fileName, streamRef);

        streamRef.Dispose();
    }
}
