@page "/scoresheet9"
@using VolleyballTools.Model;
@inject IJSRuntime JS
@inject PDF.PDF PDF

<style>
    h3 {
        font-weight: 700;
    }

    .form-label {
        margin-bottom: .2rem;
        font-weight: 600 !important;
    }

    .form-support {
        margin-bottom: .2rem;
        color: #626264;
    }
</style>

<h3>9人制 スコアシートを作成する</h3>
<p class="form-support">印刷後に記入する箇所は空欄にしてください</p>

<div class="mb-3 mt-3">
    <label class="form-label fw-bold">試合名</label>
    <input type="text" @bind="match.MatchName" class="form-control" id="exampleFormControlInput1">
</div>

<div class="mb-3">
    <p class="form-label fw-bold">開催地</p>
    <input type="text" @bind="match.Venue" class="form-control" id="exampleFormControlInput1">
</div>

<div class="mb-3">
    <p class="form-label">会場名</p>
    <input type="text" @bind="match.Hall" class="form-control" id="exampleFormControlInput1">
</div>

<div class="mb-3">
    <p class="form-label">開催日</p>
    <input type="date" @bind="match.DateTime" class="form-control" id="exampleFormControlInput1">
</div>

<div class="mb-3">
    <p class="form-label">試合設定時間</p>
    <input type="time" @bind="match.MatchTime" class="form-control" id="exampleFormControlInput1">
</div>

<div class="mb-3">
    <p class="form-label">試合番号</p>
    <input type="text" @bind="match.MatchNumber" class="form-control" id="exampleFormControlInput1">
</div>


<div class="card mb-3">
    <div class="mb-3 card-body">
        <p class="form-label">Aチーム名</p>
        <input type="text" @bind="match.ATeamName" class="form-control mb-3">

        <div class="row me-1">
            <div class="col-md-2 col-3">
                <p class="form-label" hidden="@(match.ATeamPlayers.Count()<=0)">番号</p>
            </div>

            <div class="col-md-9 col-7">
                <p class="form-label" hidden="@(match.ATeamPlayers.Count()<=0)">名前</p>
            </div>

            @foreach (var player in match.ATeamPlayers)
            {
                <div class="mb-1 col-md-2 col-3">
                    <input type="number" @bind="player.Number" class="form-control">
                </div>

                <div class="mb-1 col-lg-9 col-md-8 col-7">
                    <input type="text" @bind="player.Name" class="form-control">
                </div>
                <button class="mb-1 col-lg-1 col-md-2 col-2 btn btn-danger " @onclick="@(()=>match.ATeamPlayers.Remove(player))">
                    削除
                </button>
            }
        </div>

        <button class="btn btn-primary mt-1" type="button" @onclick="@(()=>match.BTeamPlayers.Add(new()))" disabled="@(match.ATeamPlayers.Count>=15)">
            選手を追加
        </button>
    </div>
</div>

<div class="card mb-3">
    <div class="mb-3 card-body">
        <p class="form-label">Bチーム名</p>
        <input type="text" @bind="match.BTeamName" class="form-control mb-3">

        <div class="row me-1">
            <div class="col-md-2 col-3">
                <p class="form-label" hidden="@(match.BTeamPlayers.Count()<=0)">番号</p>
            </div>

            <div class="col-md-9 col-7">
                <p class="form-label" hidden="@(match.BTeamPlayers.Count()<=0)">名前</p>
            </div>

            @foreach (var player in match.BTeamPlayers)
            {
                <div class="mb-1 col-md-2 col-3">
                    <input type="number" @bind="player.Number" class="form-control">
                </div>

                <div class="mb-1 col-lg-9 col-md-8 col-7">
                    <input type="text" @bind="player.Name" class="form-control">
                </div>
                <button class="mb-1 col-lg-1 col-md-2 col-2 btn btn-danger " @onclick="@(()=>match.BTeamPlayers.Remove(player))">
                    削除
                </button>
            }
        </div>

        <button class="btn btn-primary mt-1" type="button" @onclick="@(()=>match.BTeamPlayers.Add(new()))" disabled="@(match.BTeamPlayers.Count>=15)">
            選手を追加
        </button>
    </div>
</div>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">性別</label>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="GenderRadio" id="SexRadio1">
        <label class="form-check-label" for="SexRadio1">
            男子
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="GenderRadio" id="SexRadio2">
        <label class="form-check-label" for="SexRadio2">
            女子
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="GenderRadio" id="SexRadio3" checked>
        <label class="form-check-label" for="SexRadio3">
            未選択
        </label>
    </div>
</div>

<button class="btn btn-primary mb-3 px-5" @onclick="Create">生成</button>

@code {
    public NineParsonMatch match = new();
    public int SET { get; set; } = 3;

    private async void Create()
    {
        var fileStream = VolleyballTools.PDF.PDF.Generate9Parson(match);
        await DownloadFileFromStream(fileStream);
    }

    private async Task DownloadFileFromStream(Stream fileStream)
    {
        var fileName = $"Scoresheet.pdf";
        if (match.MatchName is not null)
        {
            fileName = $"{match.MatchName}-{fileName}";
        }

        using var streamRef = new DotNetStreamReference(stream: fileStream);

        await JS.InvokeVoidAsync("downloadFileFromStream", fileName, streamRef);

        streamRef.Dispose();
    }
}
